MyLibrary/obj/Debug/MyLibrary.g.resources
MyLibrary/obj/Debug/MyLibrary_MarkupCompile.lref
MyLibrary/obj/Debug/ProgressBarListUc.baml
MyLibrary/obj/Debug/ProgressBarListUc.g.cs
MyLibrary/obj/Debug/ProgressBarListUc.g.i.cs
*.lref
MyLibrary/obj/Debug/MyLibrary.csproj.FileListAbsolute.txt
MyLibrary/obj/Release/MyLibrary.Properties.Resources.resources
MyLibrary/bin/Release/MyLibrary.dll.config
MyLibrary/obj/Release/MyLibrary.csproj.FileListAbsolute.txt
*.baml
MyLibrary/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyLibrary/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyLibrary/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyLibrary/obj/Release/ProgressBarListUc.g.i.cs
MyLibrary/obj/Release/ProgressBarListUc.g.cs
MyLibrary/obj/Release/MyLibrary.g.resources
MyLibrary/obj/Release/MediaControl.g.cs
MyLibrary/obj/Release/MediaControl.g.i.cs
MyLibrary/obj/Release/GeneratedInternalTypeHelper.g.cs
MyLibrary/obj/Release/GeneratedInternalTypeHelper.g.i.cs
MyLibrary/obj/Release/PropertiesControl.g.i.cs
MyLibrary/obj/Release/PropertiesControlUc.g.i.cs
MyLibrary/bin/Release/MyLibrary.XML
MyLibrary/obj/Release/PropertiesControlUc.g.cs
MyLibrary/obj/Debug/MediaControl.g.i.cs
MyLibrary/obj/Debug/PropertiesControlUc.g.i.cs
*.g.cs
*.manifest
*.g.i.cs
LibrarySamples/obj/Release/LibrarySamples.Properties.Resources.resources
LibrarySamples/obj/Release/LibrarySamples.csproj.FileListAbsolute.txt
*.g.resources
LibrarySamples/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LibrarySamples/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LibrarySamples/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.exe.config
LibrarySamples/bin/Debug/
LibrarySamples/obj/Debug/
LibrarySamples/bin/Release/
